#### Setting up

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
path = r'/Users/d_matos/Desktop/Career Foundry/4. Python Fundamentals for Data Analysts/Instacart Basket Analysis'

### df_ords_prods_prior

In [8]:
# Import data: Orders Products Prior
df_ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [12]:
df_ords_prods_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [14]:
df_ords_prods_prior.shape

(32434489, 4)

In [18]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
df_ords_prods_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [20]:
df_ords_prods_prior.isna().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [24]:
df_ords_prods_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [26]:
# To change notation
pd.set_option('display.float_format', '{:.2f}'.format)

In [28]:
df_ords_prods_prior.describe()

         order_id  product_id  add_to_cart_order   reordered
count 32434489.00 32434489.00        32434489.00 32434489.00
mean   1710748.52    25576.34               8.35        0.59
std     987300.70    14096.69               7.13        0.49
min          2.00        1.00               1.00        0.00
25%     855943.00    13530.00               3.00        0.00
50%    1711048.00    25256.00               6.00        1.00
75%    2565514.00    37935.00              11.00        1.00
max    3421083.00    49688.00             145.00        1.00

In [101]:
# Check for duplicate rows
duplicate_rows = df_ords_prods_prior[df_ords_prods_prior.duplicated()]

In [103]:
duplicate_rows

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### df_orders

In [39]:
# Import data
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [41]:
df_orders.shape

(3421083, 8)

In [43]:
df_orders.drop(columns='Unnamed: 0', inplace=True)

In [45]:
df_orders.shape

(3421083, 7)

In [47]:
df_orders.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer'],
      dtype='object')

In [49]:
# Drop empty column
df_orders = df_orders.drop(columns = 'new_customer')

In [51]:
df_orders.shape

(3421083, 6)

In [53]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.00
2,473747,1,3,3,12,21.00
3,2254736,1,4,4,7,29.00
4,431534,1,5,4,15,28.00

In [62]:
df_orders.dtypes

order_id                    int64
user_id                     int64
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [64]:
df_orders.isna().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [70]:
df_orders['days_since_prior_order'].unique()

array([nan, 15., 21., 29., 28., 19., 20., 14.,  0., 30., 10.,  3.,  8.,
       13., 27.,  6.,  9., 12.,  7., 17., 11., 22.,  4.,  5.,  2., 23.,
       26., 25., 16.,  1., 18., 24.])

In [78]:
df_orders.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3421083.00,3421083.00,3421083.00,3421083.00,3421083.00,3214874.00
mean,1710542.00,102978.21,17.15,2.78,13.45,11.11
std,987581.74,59533.72,17.73,2.05,4.23,9.21
min,1.00,1.00,1.00,0.00,0.00,0.00
25%,855271.50,51394.00,5.00,1.00,10.00,4.00
50%,1710542.00,102689.00,11.00,3.00,13.00,7.00
75%,2565812.50,154385.00,23.00,5.00,16.00,15.00
max,3421083.00,206209.00,100.00,6.00,23.00,30.00

In [82]:
df_orders.median()

order_id                 1710542.00
user_id                   102689.00
order_number                  11.00
order_day_of_week              3.00
order_hour_of_day             13.00
days_since_prior_order         7.00
dtype: float64

In [84]:
#Replace missing values in days_since_prior_orders
df_orders['days_since_prior_order'].fillna(7.00, inplace=True)

In [86]:
df_orders.isna().sum()

order_id                  0
user_id                   0
order_number              0
order_day_of_week         0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [105]:
duplicate_rows2 = df_orders[df_orders.duplicated()]

In [107]:
duplicate_rows2

Empty DataFrame
Columns: [order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

### Merging dfs

In [109]:
df_merged_large = df_orders.merge(df_ords_prods_prior, on = 'order_id', indicator = True)

In [111]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.00,196,1,0,both
1,2539329,1,1,2,8,7.00,14084,2,0,both
2,2539329,1,1,2,8,7.00,12427,3,0,both
3,2539329,1,1,2,8,7.00,26088,4,0,both
4,2539329,1,1,2,8,7.00,26405,5,0,both

In [113]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [115]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))