In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/d_matos/Desktop/Career Foundry/4. Python Fundamentals for Data Analysts/Instacart Basket Analysis'

## df_orders_products_combined

In [7]:
#Import combined dataframe
df_orders_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [9]:
df_orders_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [11]:
df_orders_combined.shape

(32434489, 10)

In [13]:
df_orders_combined.isna().sum()

order_id                  0
user_id                   0
order_number              0
order_day_of_week         0
order_hour_of_day         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
dtype: int64

## df_products

In [17]:
#Import products dataframe
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [19]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
df_products.shape

(49672, 5)

In [21]:
df_products.isna().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

## Merged df_orders_products

In [28]:
#Merging dataframes
df_orders_products = df_orders_combined.merge(df_products, on = 'product_id')

In [30]:
df_ords_prods_all = df_orders_products

In [32]:
df_ords_prods_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [34]:
df_ords_prods_all.shape

(32404859, 14)

In [36]:
df_ords_prods_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_all.pkl'))